  @import url(https://fonts.google.com/specimen/Roboto);


.App {

  
  header {
    background-color:#9e2058;
    color: #000000;
    display: flex;
    grid-area: header;
    justify-content: left;
  }

  #Rectangle {

  display: block;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 3%;
  justify-content: center;
  
  }
  #stepper {

  display: block;
  margin-left: auto;
  margin-right: auto;  
  font-family: 'Roboto', sans-serif;

  font-size: 100%;

  font-weight: 300;

  font-stretch: normal;

  font-style: normal;

  line-height: 2;

  letter-spacing: normal;

  text-align: center;

  color: #373a3c;

}

  button {
    background-color: #db006b
  }

  button:hover, button:active, button:visited {
    background-color:#9e2058
  }


  .form-check-desc > span{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  
    font-family: 'Roboto', sans-serif;;
  
    font-size: 13px;

  font-weight: normal;

  font-stretch: normal;

  font-style: normal;

  line-height: 1.46;

  letter-spacing: normal;

  color: #444444;
  
  }


  main {
    background-color: #f5f5f5;
    // grid-area: content;
    display: flexbox;
    // height: 100vh;
  }


  .rad{
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    
  }
  .rad > input{ /* HIDE ORG RADIO & CHECKBOX */
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    
  }
  /* RADIO & CHECKBOX STYLES */
  /* DEFAULT <i> STYLE */
  .rad > i{ 
    display: inline-block;
    vertical-align: middle;
    width:  20px;
    height: 20px;
    border-radius: 50%;
    transition: 0.2s;
    box-shadow: inset 0 0 0 8px #fff;
    border: 1px  solid grey;
    background-image:url("../img/radio-unchecked.png");
  }


  .rad > input:checked + i{ /* (RADIO CHECKED) <i> STYLE */
    box-shadow: inset 0 0 0 0px #fff;
    background-image:url("../img/radio-checked.png");
    // background-color: #9e2058;
    border: 3px #9e2058;
    background-repeat: no-repeat
  }
 

  button:disabled,
  button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }

}

/////////////////////  FORM STYLING

.form-validation{

  padding: 50px;
  margin-top: 5%;
  margin-left: 10%;
  border-radius: 4px;
  height: 30%;
  // width: 30%;
  box-sizing: border-box;
  background-color:  #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  float: left;

  // font: bold 14px 'Roboto', sans-serif;
  text-align: center;
}



.form-title-row{
  text-align: left;
  margin-bottom: 35px;
  
  font-family: 'Roboto', sans-serif;

  font-size: 20px;

  font-weight: 500;

  font-stretch: normal;

  font-style: normal;

  line-height: 1.6;

  letter-spacing: normal;

  color:solid #444444;
}

.form-title-row-desc{
  text-align: left;
  margin-bottom: 35px;
  
  font-family: 'Roboto', sans-serif;

  font-size: 16px;

  font-weight: 300;
  
  font-stretch: normal;
  
  font-style: normal;
  
  line-height: 1.5;
  
  letter-spacing: normal;
  
  color: #444444;
}

.form-select-row{
  text-align: left;
  margin-bottom: 35px;
  
  font-family: 'Roboto', sans-serif;

  font-size: 16px;

  font-weight: normal;

  font-stretch: normal;

  font-style: normal;

  line-height: 1.5;

  letter-spacing: normal;

  color: #444444;
}


.form-validation button{
  float: right;
  border-radius: 4px;

  resize: horizontal;
  background-color:   #db006b;

  width: 95px;

  height: 38px;

  font-family: 'Roboto', sans-serif;

  font-size: 16px;

  font-weight: normal;

  font-stretch: normal;

  font-style: normal;

  line-height: 1.31;

  letter-spacing: normal;

  text-align: center;

  color: #ffffff;
  border: solid 1px #db006b;

}

#spinner{
  display: block;
  background-color:   #db006b;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 14px 22px;
  border: 0;
  margin: auto;
}





/*	Making the form responsive. Remove this media query
  if you don't need the form to work on mobile devices. */

@media (max-width: 1000px) {

  .form-validation{
      margin-top: 0;
      padding: 30px;
      width: 100%;
  }

  .form-validation .form-row{
      max-width: 300px;
      margin: 25px auto;
      text-align: left;
  }

  .form-validation .form-title-row{
      margin-bottom: 50px;
  }

  .form-validation .form-row > label span{
      display: block;
      text-align: left;
      padding: 0 0 15px;
  }

  .form-validation input,
  .form-validation select{
      width: 220px;
  }


  .form-validation .form-invalid-data-info{
      left: 0;
  }

  .form-validation .form-checkbox span{
      display: inline-block !important;
      width: 100px !important;
  }

  .form-validation button{
      margin: 0;
  }

}


@media (max-width: 1000px) {

  .column.side, .column.middle {
    width: 100%;
  }


}


.column {
  float: left;
  padding: 50px;
}

/* Left and right column */
.column.side {
  // width: 20%;
  padding-left: 10%;
  padding-top: 5%; 
  // padding: 200px;

}




/* Clear floats after the columns */
.row:after {
  background-color: #f5f5f5;
  content: "";
  display: table;
  clear: both;
  height: 85vmin;
}